<p id="notice"><%= notice %></p>

<h1>History Announcements</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Image</th>
      <th>Status</th>
      <th>Cause</th>
      <th>Publication</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @history_announcements.each do |history_announcement| %>
      <tr>
        <td><%= history_announcement.title %></td>
        <td><%= history_announcement.body %></td>
        <td><%= history_announcement.image %></td>
        <td><%= history_announcement.status %></td>
        <td><%= history_announcement.cause %></td>
        <td><%= history_announcement.publication %></td>
        <td><%= history_announcement.category %></td>
        <td><%= link_to 'Show', history_announcement %></td>
        <td><%= link_to 'Edit', edit_history_announcement_path(history_announcement) %></td>
        <td><%= link_to 'Destroy', history_announcement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New History Announcement', new_history_announcement_path %>
